* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vw;
  background-image: linear-gradient(to right, red, blue);
}
#main #contain {
  width: 400px;
  height: 550px;
  border: 1px solid transparent;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: 0;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  color: #fdffff;
}
#main #contain img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#main #contain #name {
  margin-top: 15px;
}
#main #contain #time {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main #contain #time .seek {
  width: 200px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 5px;
  transition: opacity 0.2s;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  margin: 0 10px;
}
#main #contain #time .seek::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 2px solid #3774ff;
  cursor: pointer;
  border-radius: 50%;
}
#main #contain #volume {
  margin-left: 5px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main #contain #volume input {
  width: 150px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 5px;
  transition: opacity 0.2s;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  margin: 0 10px;
}
#main #contain #control {
  margin-top: 25px;
}
#main #contain #control label {
  margin: 0px 8px;
  font-size: 25px;
  cursor: pointer;
}
#main #contain #control .active {
  display: none;
}/*# sourceMappingURL=style.css.map */